/**
 * redpen: a text inspection tool
 * Copyright (c) 2014-2015 Recruit Technologies Co., Ltd. and contributors
 * (see CONTRIBUTORS.md)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@font-face {
    font-family: "Oxygen";
    src: url(../fonts/Oxygen-Regular.ttf);
}

body {
    background-color: #fafafa;
    color: #333;
    font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    color: #414439;
}

h1 {
    font-size: 32px;
}

h1, h2, h3 {
    margin-top: 10px;
}

a {
    color: rgb(62, 63, 58);
    cursor: pointer;
}

a:hover {
    color: rgb(62, 63, 58);
    cursor: pointer;
}

a:visited {
    color: rgb(62, 63, 58);
}

label {
    margin-bottom: 0px;
    min-height: 10px;
    margin-right: 12px;
}

textarea {
    resize: none;
}

input[type="radio"], input[type="checkbox"] {
    margin: 3px 0 0;
}

.well {
    border: solid 1px rgba(0, 0, 0, 0.3);
    background-color: #E0E0E0;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus {
    font-style: italic;
    color: #815555;
    text-decoration: none;
}

.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: none;
}

.editableform-loading {
    background: url('../images/loading.gif') center center no-repeat;
}

.editable-clear-x {
    background: url('../images/clear.png') center center no-repeat;
}

.popover-title {
    font-size: 11px;
}

.float-right {
    float: right;
}

.control-label {
    color: #838178;
    font-size: 12px;
}

.navbar-default {
    background-color: #474747;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.dropdown-menu > li > a {
    text-transform: uppercase;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a {
    color: #ccc;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 19px;
    padding-left: 32px;
    vertical-align: middle;
    font-weight: 500;
}

.navbar-brand {
    padding-top: 8px;
    padding-right: 32px;
}

.navbar-brand img {
    height: 42px;
}

.alert-warning, .alert-info, .alert-success {
    padding-left: 4px;
    border-radius: 0;
}

.error strong {
    color: #a70c00;
}

.radio, .checkbox {
    margin-top: 0 !important;
}

.main {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 4px;
}

#redpen-document-top {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 0;
    border: solid 1px rgba(0, 0, 0, 0.15);
    bottom: 46%;
}

#redpen-document-bottom {
    position: absolute;
    left: 0;
    top: 54.5%;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    border-radius: 0;
    border: solid 1px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 227, 227);
}

#redpen-superimposed-editor {
    border-radius: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: white;
}

.redpen-superimposed-editor-panel {
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 28px !important;
    padding: 12px !important;
    margin: 0 !important;
    word-wrap: normal !important;
    white-space: pre-wrap !important;
    word-break: normal !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-family: monospace !important;

    width: 100%;

    border: none !important;
    outline: none !important;
    overflow-y: scroll;
    overflow-x: hidden;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

#redpen-editor {
    color: rgba(0, 0, 0, 0.9);
    background-color: transparent;
    height: 100%;
    z-index: 2;
}

#redpen-editor-underlay {
    background-color: rgba(220, 255, 220, 0.4);
    color: transparent;
    z-index: 1;
}

#redpen-editor:focus {
    outline: none;
}

#redpen-errors {
    padding: 18px;
}

#redpen-results-json {
    background-color: rgb(196, 236, 253);
    color: rgb(3, 23, 3);
    min-height: 100%;
    height: 100%;
    overflow: auto;
    font-size: 11px;
    line-height: 12px;
    font-family: monospace;
    white-space: pre;
    word-wrap: break-word;
    padding: 8px;
    border-radius: 0;
}

#redpen-results-request {
    background-color: rgb(194, 228, 197);
    color: #222;
    min-height: 100%;
    height: 100%;
    overflow: auto;
    font-size: 11px;
    line-height: 12px;
    font-family: monospace;
    white-space: pre;
    word-wrap: break-word;
    padding: 8px;
    border-radius: 0;
}

#redpen-results-report {
    background-color: #454545;
    border: solid 1px rgba(0, 0, 0, 0.6);
    color: #06F400;
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: monospace;
    font-size: 11px;
    white-space: pre-wrap;
    padding: 8px;
    border-radius: 0;
}

#redpen-settings {
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: auto;
    border-radius: 0;
}

#redpen-version {
    position: absolute;
    right: 4px;
    bottom: 0;
    font-size: 10px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.8);
    text-align: right;
}

#redpen-option-results {
    text-align: center;
    list-style: none;
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
    font-size: 14px;
}

.redpen-error-list li {
    counter-increment: step-counter;
    background-image: url(../images/redpen-logo-nib-icon.png);
    background-repeat: no-repeat;
    background-position: left 4px;
    background-size: 16px 16px;
    cursor: help;
}

#redpen-option-results li {
    display: inline-block;
    width: 88px;
    padding: 4px;
    padding-top: 6px;
    cursor: pointer;
    color: #9E9E9E;
}

#redpen-token-editor {
    color: #333;
    background-color: #E8F5E9;
    font-size: 16px;
    height: 96px;
    padding: 12px;
    width: 100%;
    z-index: 2;
    outline: none;
}

#redpen-rule-editor {
    color: #333;
    background-color: #E8F5E9;
    font-size: 16px;
    height: 100%;
    padding: 12px;
    width: 40%;
    z-index: 2;
    outline: none;
}

.nikkeib2b-token {
    display: inline-block;
    padding: 4px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 2px;
    background-color: #FFECB3;
}

.redpen-option-selected {
    border-radius: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
    background-color: #757575;
    color: white !important;
}

.col-md-5 {
    padding-right: 0;
}

.redpen-fixed-container {
    height: 100%;
}

.redpen-fixed-row {
    height: 85%;
}

.redpen-fixed-row > div {
    height: 100%;
}

.redpen-header-row {
    height: 10%;
    min-height: 84px;
}

.redpen-header-row > div {
    height: 100%;
}

.redpen-error-sentence {
    background-position: left 5px;
    background-repeat: no-repeat;
}

.redpen-info-message {
    color: rgb(74, 152, 100);
    background-image: url(../images/redpen-logo-nib-icon.png);
    background-size: 16px 16px;
    background-position: left 5px;
    background-repeat: no-repeat;
    padding-left: 18px;
}

.redpen-clear-button {
    position: absolute;
    bottom: 3px;
    right: 18px;
    z-index: 3;
    color: #777;
}

.redpen-clear-button button {
    line-height: 1;
}

.redpen-error-validator {
    display: inline-block;
    padding: 1px;
    margin-left: 2px;
    font-size: 9px;
    color: #aaa;
    vertical-align: middle;
}

.redpen-red {
    color: #a70c00;
}

.redpen-config-summary-panel {
    display: inline-block;
    width: 350px;
    padding: 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 12px;
}

.redpen-config-summary-panel-header {
    color: orange;
}

.redpen-config-summary-panel th {
    font-weight: normal;
    color: rgb(132, 204, 255);
    padding-right: 4px;
}

.redpen-config-summary-panel tr {
    white-space: pre-wrap;
    vertical-align: top;
}

.redpen-validators {
    font-size: 12px;
    line-height: 18px;
}

.redpen-validators .checkbox {
    margin-bottom: 0;
    clear: both;
}

.redpen-validators label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.redpen-annotated-sentence i {
    color: rgba(167, 12, 0, 0.3);
    text-shadow: 0 0 2px rgba(255, 32, 0, 0.4);
    font-style: normal;
    background-image: url(../images/redpen-mark.png);
    background-size: 48px 16px;
}

.redpen-validators .checkbox i {
    color: #1C6100;
}

.redpen-validator-properties {
    float: right;
    text-align: right;
    max-width: 50%;
    margin-bottom: 5px;
}

.redpen-symboltable {
    font-size: 11px;
    width: 100%;
    text-align: right;
}

.redpen-symboltable th {
    color: #999;
    text-align: right;
    line-height: 12px;
    vertical-align: top;
    min-width: 32px;
}

.redpen-symboltable th:first-child, .redpen-symboltable td:first-child {
    text-align: left;
}

.redpen-error-list {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
    padding-left: 0;
    font-size: 14px;
    line-height: 16px;
}

.redpen-error-message {
    color: #a70c00;
}

.redpen-error-message-annotated::before {
    /*background-color: #ff0500 !important;*/
}

.redpen-error-list li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 11px;
    line-height: 20px;
    margin-left: 16px;
    color: #a70c00;
    padding: 0;
    display: inline-block;
    text-align: left;
    min-width: 20px;
    border-radius: 0;
}

.redpen-annotated-sentence {
    line-height: 24px;
    color: rgba(0, 0, 0, 0);
}

.redpen-annotated-sentence-marker {
    letter-spacing: -1px;
    cursor: help;
    font-weight: normal;
    background-color: transparent;
    color: rgba(167, 12, 0, 0.90);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.31);
    font-size: 8px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-left: -18px;
    margin-top: -10px;
    height: 10px;
    width: 18px;
    z-index: 3;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
